<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href='http://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href = "static/css/bootstrap-3.2.0-dist/css/bootstrap.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <script type = "text/javascript" src = "static/css/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/home.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" media="screen" />
    

    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<!--Pattern HTML-->
  <div id="pattern" class="pattern">
    <!--Begin Pattern HTML-->
        <a href="#menu" class="menu-link">Menu</a>
        <nav id="menu" role="navigation">
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
                <li><a href="#">이용방법</a></li>
                <li><a href="{{url_for('img_upload')}}">신청하기</a></li>
                <li><a href="#">Q / A</a></li>
           
                <li><a href="#">login</a></li>
                <li id="btnLogout"><a href="#">logout</a></li>
                <li><a href="{{url_for('join')}}">join</a></li>      
            </ul>
        </nav>
    </div>
    <!--End Pattern HTML-->
    

    <div class="container"> 
        <div class="logo">
            <br/><h1> 프사 없음 </h1>
            <p> 프로필로 광고하고! 돈도 벌고! </p>
            <br/>
        </div>
        <div class="menu-2">
            <!-- 검은 라인 -->
            <br/>
        </div>
        <div class="content">
        <section>
      <h1>회원가입</h1>
      <!--<p>이메일 또는 카카오톡 아이디로 쉽게 가입하실 수 있습니다.</p>-->
        <div id="joinbox">
               <!--<form>
                 <input type="text" placeholder="E-mail">
                 <br>
                 <input type="text" placeholder="카톡 ID">
                 <br>
                 <input type="Password" placeholder="Password">
                 <input type="Password" placeholder="Password">
                 <br>
                 <input type="submit" placeholder="가입">
               </form> -->

               <a href="javascript:loginWithKakao()" id="custom-login-btn">
                <img src="https://developer.kakao.com/assets/img/about/logos/login/en/kakao_account_login_btn_medium_narrow_ov.png"></img>
              </a>
              <script>
                // 사용할 앱의 Javascript 키를 설정해 주세요.
                Kakao.init('0db590095c8c99570b0c0591b6a43ec5');

                function loginWithKakao() {
                // 로그인 창을 띄웁니다.
                Kakao.Auth.login({
                  success: function(authObj) {
                    var refreshToken = Kakao.Auth.getRefreshToken();
                    alert(JSON.stringify(authObj));
                  }
                });

                $("#btnLogout").on("click", function(){
                    Kakao.Auth.logout(function(result){
                     if(result == true){
                      alert("로그아웃성공");
                      
                     }else{
                      alert("로그아웃시도중 오류발생!!");
                     }
                    });
                   });
              };</script>
            </div>
          </section>



        </div>
        <footer role="contentinfo">   
        </footer>
    </div>
</body>
</html>